# EXT
*.user
*.*.user
*.vssscc
*.vspscc
*.exe
*.pdb
*.cachefile
*.*.suo
*.suo
*.vsp
*.psess
.*
# DIR
XNAnim*.dll
*/_ReSharper.*/
MetaStruggle/MS/GameClient/bin/x86/Debug/Content
MetaStruggle/MS/GameClientContent/bin/
MetaStruggle/MS/XNAnimation/bin
MetaStruggle/MS/XNAnimationPipeline/bin
obj/
