# EXT
*.user
*.*.user
*.vssscc
*.vspscc
*.exe
*.pdb
*.cachefile
*.*.suo
*.suo
*.dll
*.vsp
*.psess
.*
# DIR
*/_ReSharper.*/
MetaStruggle/MS/GameClient/bin/x86/Debug/Content
MetaStruggle/MS/GameClientContent/bin/
MetaStruggle/MS/XNAnimation/bin
MetaStruggle/MS/XNAnimationPipeline/bin
obj/
